*{
    margin: 0;
    padding: 0;
}
.text{
  
   margin-left: 50px;
   font-size: 60px;
   position: relative;
   top: 100px;
   color:white;
    font-size: 65px;
}
 .img-contain{
    margin-top: 0;
    background-image: url("https://img.freepik.com/premium-vector/smartphone-internet-banking-concept-vector-illustration-digital-money_87561-544.jpg?w=1060");
    background-size: cover;
    height: 850px;
   
}
.container{
    display: flex;
   
    padding: 10px;
    justify-content: end;
    background-color:rgb(10, 10, 246);
}
.main-contain{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
   text-align: center;
}
.logo{
    height: 30px;
    margin-right: 20px;
   margin-top: 8px;
    }
    .search{
       
       height: 26px;
       color: white;
       margin-right: 250px;
     }
    
    .text-size{
        font-size: 30px;
        color: white;
        margin-top: 170px;
        margin-bottom: 40px;

    }
    .btn{
        margin: 10px;
        padding: 15px;
        font-size: 15px;
        margin-left: 180px;
        background-color: black;
        color: white;
        box-shadow: 1px 4px 4px 2px white;
    }
    .container-1{
        display: flex;
        margin: 10px;
        padding: 10px;
       }

    .container2{
        margin-left: 100px;

    }
    .color-blue{
        color: blue;
       
    }
    .font-size{
        font-size: 50px;

    }
    .list{
        margin: 10px;
        padding: 10px;
        margin-top: 20px;
        font-size: 30px;
        margin-left: 70px;

    }
    .orderlist-text{
        font-size: 20px;
        margin-left: 50px;
        padding: 10px;
        margin: 10px;
    }
    .offer{
        text-align: center;
        font-size: 30px;
        margin-top: 70px;
       
    }
    .main-content{
        
        border:none;
        height: 400px;
        width: 400px;
        box-shadow: 1px 1px 1px 1px black;
        padding: 10px;
        margin: 10px;

    }


    
    .flex-card{
display: flex;
flex-direction: row;
flex-wrap: wrap;

    }
    .flex-text{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 30px;
    }
    .game-img{
        margin-left: 140px;
        margin-top: 20px;
    }
    .text-size-1{
        font-size: 30px;
        text-align: center;
        margin-top: 24px;
        margin-bottom: 40px;
    }
    .img-nine{
        display: flex;
        justify-content:end;
        
    }
    .text-container{
        border: 1px solid black;
        height:170px;
      width:750px;
      margin: 30px;
      padding: 10px;
      border-radius: 30px; 
        }

        .footer {
            display: flex;
            justify-content:space-around;
            background-color: black;
            color: white;
            margin-top: 0;
            height: 280px;
            padding: 20px;
            font-size: 25px;
        }
        
        .tagline-footer {
            font-size: 15px;
        }
        
        .logo1{
            border-radius: 50%;
            position: relative;
            top: 45px;
            box-shadow: 0 3px 4px 2px rgb(105, 103, 103);
            left:-5px;
        }
        
        .list-links {
            margin-left: 30px;
            font-size:20px ;
        }
        
        ul li a {
            text-decoration-line: none;
            color: aliceblue;
        }
        
        .address{
            font-size:20px;
            
            
        }
        .multi{
            margin-left: 37px;
        }
         @media screen and (min-width: 600px)and(max-width:740px){

        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            /* padding: 15px; */
            justify-content: end;
            background-color: rgb(10, 10, 246);
            /* margin-bottom: 10px; */
            width: 1301px;
        }
        .img-contain {
            margin-top: 0;
            background-image: url(https://img.freepik.com/premium-vector/smartphone-internet-banking-concept-vector-illustration-digital-money_87561-544.jpg?w=1060);
            background-size: cover;
            height: 850px;
            width: 1200px;
            display: flex;
        }
        .flex-text {
            display: flex;
            justify-content: space-evenly;
            margin-top: 30px;
            flex-wrap: wrap;
        }
        .flex-text{
            flex-wrap: wrap;
            display: flex;
        }









    }